header{
    display: flex;
height: 126px;
padding: 32px 37px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}
.logo-heading{
   display: flex;
    width: 171px;
    height: 65.968px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex-shrink: 0; 
}
.logo-heading h1,img{
  display: flex; 
height: 38.968px;
justify-content: flex-end; 
align-items: center;
gap: -3px;
flex-shrink: 0; 
}
.logo-heading h1{
color:var( --yellow);
text-align: center;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 120%; 
text-transform: capitalize;
}
.logo-heading img{
width: 29.038px;
height: 42.972px;
}
.logo-heading h4{
color: var(--white);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 120%; 
text-transform: capitalize;
}
.shiiping_container{
    display: flex;
    width: 1368px;
    margin-top: 40px;
    align-items: flex-start;
    gap: 49px;
}
.shiiping_form{
display: flex;
width: 950px;
height: 479px; 
padding: 32px;
flex-direction: column;
align-items: flex-start;
gap: 32px;
flex-shrink: 0;
}
.shipping_address{
display: flex;
padding: 4px;
width:667px;
height:100px; 
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;
border: 1px solid var(--style-color-51);
border-radius: 4px;
}
.shipping_address label{
display: flex;
padding: 8px 0px 10px 10px;
justify-content: flex-end;
align-items: center;
gap:50px;
} 
.shipping_address input{
display: flex;
width:510px;
height:25px;
padding: 4px;
align-items: flex-start;
gap: 10px;
flex: 1 0 0;
border: none;
}
.shipping_address input:focus{
    background-color: #ddd; 
    outline:none;
}
::placeholder{
color: var(--csk);
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 120%; 
text-transform: capitalize;
}
.shipping_address hr{
width:550px;
}
.shipping_method{
display: flex;
width: 667px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
margin-top: 32px;
}
.shipping_method h5{
width: 154px;
padding: 5px 10px;
align-items: center;
gap: 4px;
color: var( --primary);
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 150%; 
text-transform: capitalize;
}
.shipping_method .delivery_method{
display: flex;
width: 667px;
padding: 4px;
flex-direction: column;
align-items: center;
gap: 8px;
border: 1px solid var(--style-color-51);
border-radius: 4px;
} 
.delivery_method input{
width: 20px;
height: 20px;
flex-shrink: 0;
}  
.delivery_method label{
display: flex;
width: 642px; 
height: 42px;
padding: 10px;
align-items: center;
gap: 16px;
color: var(--primary);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
text-transform: capitalize; 
}
.col-2{
display: flex;
width: 632px;
margin-top: 32px;
justify-content: space-between;
align-items: flex-start;
}
.col-2 a{
    display: flex;
    height: 36px;
    padding: 16px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: var(--secondary);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .col-2 .continue_shipping{
        display: flex;
        width: 256px;
        height: 36px;
        padding: 16px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid var(--secondary);
        background: var(--secondary);
        color: var(--style-color-1);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        cursor: pointer;
        }
        .order_summary{
        display: flex;
        width: 363px;
        flex-direction: column;
        padding: 16px;
        align-items:center;
        gap: 32px;
        border-radius: 4px;
        background: var(--white);
        border-radius: 4px;
        border: 1px solid var(--style-color-51);
        }
        .order_summary h4{
        height: 39px;
        padding: 4px;
        gap: 4px;
        width: 323px;
        height:39px;
        text-align: center;
        border-bottom: 2px solid var(--style-color-51);
        color: var(--primary);
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        text-transform: capitalize;
        }
        .order_item{
        display: flex;
        width:331px;
        align-items: flex-start;
        gap: 11px;
        align-self: stretch;
        }
        .order_item img{
        width: 111px;
        height: 121px;
        flex-shrink: 0;
        background:contain no-repeat;
        }
        .order_item .pdetails{
        display: flex; 
        width:191px;
        padding: 5px 10px;
        flex-direction:column; 
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        gap: 5px;
        color: var(--primary);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; 
        text-transform: capitalize;
        }
        .pprice{
        color: var(--primary);
        text-align: right;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; 
        text-transform: capitalize;
        }
        .total_item{
            display: flex;
            width: 318px;
            flex-direction:column;
            align-items: center;
            gap: 4px;
        }
        .total_item p, h5 span{
        display: flex;
        width:150px;
        padding: 8px 4px;
        align-items:center;
        gap: 14px;
        flex: 1 0 0; 
        color: var(--primary);
        font-size: 16px;
        font-style: normal;
        text-align: center;
        font-weight: 400;
        line-height: 150%; 
        text-transform: capitalize;
        }
      .total_item  hr{
            width: 318px;
        }

          /* media queries */

  @media(max-width:600px){
    .shiiping_container{
    display: flex;
    width: 554px;
align-items: flex-start;
gap: 16px;
}
.shiiping_form{
    display: flex;
    width: 338px;
height: 546px;
padding: 32px 4px;
flex-direction: column;
align-items: flex-start;
gap: 32px;
}
.shipping_address{
    display: flex;
width: 330px;
padding: 4px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 4px;
}
.shipping_address label{
display: flex;
width: 320px;
padding: 4px;
align-items: center;
gap: 4px;
padding: 8px 0px 10px 10px;
justify-content: flex-end;
}
.shipping_address hr{
    width:250px;
    }
.shipping_method .delivery_method{
        display: flex;
        width: 330px;
        padding: 4px 0px;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
.delivery_method label{  
width: 320px; 
height: 42px;
padding: 4px;
align-items: center;
gap: 4px; 
}
.col-2{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 14px;
align-self: stretch; 
}
.order_summary{
    display: flex;
    width: 200px;
    height: 430px;
    margin-top: 30px;
    padding: 16px 0px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.order_summary h4{
    display: flex;
  width: 200px;
height: 39px; 
padding: 4px;
justify-content: center;
align-items: center;
gap: 4px;
color: var(--primary);
text-align: center;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: 120%;  
text-transform: capitalize;
}
.order_item{
    display: flex;
    width: 187px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    }
    .pdetails{
        display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    align-self: stretch;
    }
    .fa-x{
        position: absolute;
        top: 34%;
        right:7%;
    }
    .total_item{
        display: flex;
    width: 190px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    }
    .total_item   hr{
        width: 190px;   
    }
  }
        

